In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('score.csv')
print(df.head())

   Student  Math  Science  English  History
0     Arun    78       82       75       80
1  Karthik    85       88       90       84
2    Priya    92       91       89       93
3   Sanjay    67       70       72       68
4   Ananya    88       85       87       90

In [ ]:
average_scores = np.mean(student_scores, axis=0)

print("Average scores for Math, Science, English, History are:")
print(average_scores)

Average scores for Math, Science, English, History are:
[80.5  82.75 81.5  81.25]

In [ ]:
subject_names = ['Math', 'Science', 'English', 'History']
highest_avg_subject_index = np.argmax(average_scores)
highest_avg_subject_name = subject_names[highest_avg_subject_index]
highest_average_score = average_scores[highest_avg_subject_index]

print(f"The subject with the highest average score is '{highest_avg_subject_name}' with an average score of {highest_average_score:.2f}.")

The subject with the highest average score is 'Science' with an average score of 82.75.