In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('house.csv')
print(df.head())

   S.no  beds  baths  size  zip_code    price
0     0     3    2.5  2590     98144   795000
1     1     4    2.0  2240     98106   915000
2     2     4    3.0  2040     98107   950000
3     3     4    3.0  3800     98199  1950000
4     4     2    2.0  1042     98102   950000

In [ ]:
bed_4=df[df['beds']>4]
print("The average sale price of house with more than 4 beds is:",bed_4['price'].mean())

The average sale price of house with more than 4 beds is: 1566041.6751592357