In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('sales.csv')
print(df.head())

   Product_ID     Month_sales Sales_Rep Region    Total  Quantity_Sold  \
0        1052   February 2023       Bob  North  5053.97             18
1        1093      April 2023       Bob   West  4384.02             17
2        1015  September 2023     David  South  4631.23             30
3        1072     August 2023       Bob  South  2167.94             39
4        1061      March 2023   Charlie   East  3750.20             13

  Product_Name  Unit_Cost    Price Customer_Type  Discount Payment_Method  \
0    Furniture     152.75   267.22     Returning      0.09           Cash
1    Furniture    3816.39  4209.44     Returning      0.11           Cash
2         Food     261.56   371.40     Returning      0.20  Bank Transfer
3     Clothing    4330.03  4467.75           New      0.02    Credit Card
4  Electronics     637.37   692.71           New      0.08    Credit Card

  Sales_Channel Region_and_Sales_Rep
0        Online            North-Bob
1        Retail             West-Bob
2        Retail          South-David
3        Retail            South-Bob
4        Online         East-Charlie

In [ ]:
year = df[df['Month_sales'].str.contains("2023")]
total_sales_2023 = year['Total'].sum()
print("The total sales held in the year 2023 is:",total_sales_2023)

The total sales held in the year 2023 is: 4999937.22

In [ ]:
df['Month_sales_num'] = df['Month_sales'].str.split(' ').str[0].map({
    'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
    'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12
})

Q1 = df[df['Month_sales_num'].isin([1, 2, 3])]['Total'].sum()
Q4 = df[df['Month_sales_num'].isin([10, 11, 12])]['Total'].sum()

total_sales_year = df['Total'].sum()

if Q1 != 0:
    percentage_increase = ((Q4 - Q1) / Q1) * 100
else:
    percentage_increase = 0 # or handle as appropriate if Q1 can be zero

print("Total sales for the year:", round(total_sales_year, 2))
print("Percentage increase from Q1 to Q4:", round(percentage_increase, 2), "%")

Total sales for the year: 5019265.23
Percentage increase from Q1 to Q4: 4.22 %