In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('fuel.csv')
print(df.head(300))

     city_mpg                        class  combination_mpg  cylinders  \
0          25                  midsize car               29        4.0
1          26                  midsize car               30        4.0
2          25  small sport utility vehicle               27        4.0
3          26  small sport utility vehicle               29        4.0
4          26  small sport utility vehicle               28        4.0
..        ...                          ...              ...        ...
295        12                   two seater               15        8.0
296        27              minicompact car               30        3.0
297        28              minicompact car               31        3.0
298        25              minicompact car               28        4.0
299        23              minicompact car               26        4.0

     displacement drive fuel_type  highway_mpg(Fuel Efficiency)       make  \
0             2.5   fwd       gas                            36      mazda
1             2.5   fwd       gas                            37      mazda
2             2.5   fwd       gas                            31      mazda
3             2.0   fwd       gas                            34      mazda
4             2.0   fwd       gas                            32      mazda
..            ...   ...       ...                           ...        ...
295           6.2   rwd       gas                            20  chevrolet
296           1.5   fwd       gas                            35       mini
297           1.5   fwd       gas                            37       mini
298           2.0   fwd       gas                            33       mini
299           2.0   fwd       gas                            32       mini

                    model transmission  year
0                       6            m  2014
1                       6            a  2014
2                cx-5 2wd            a  2014
3                cx-5 2wd            m  2014
4                cx-5 2wd            a  2014
..                    ...          ...   ...
295          corvette zr1            a  2019
296    cooper convertible            a  2019
297    cooper convertible            m  2019
298  cooper s convertible            a  2019
299  cooper s convertible            m  2019

[300 rows x 12 columns]

In [ ]:
print("The average fuel efficiency of the cars is:",df['highway_mpg(Fuel Efficiency)'].mean())

The average fuel efficiency of the cars is: 28.60909090909091

In [ ]:
]c1=df[df['make']=="mazda"]
c2=df[df['make']=="toyota"]
mazda_avg = c1['highway_mpg(Fuel Efficiency)'].mean()
toyota_avg = c2['highway_mpg(Fuel Efficiency)'].mean()

print("The average fuel efficiency of Mazda is:", mazda_avg)
print("The average fuel efficiency of Toyota is:", toyota_avg)
print("The Percentage increase between both the models is:",((toyota_avg - mazda_avg) / mazda_avg) * 100,"%")

The average fuel efficiency of Mazda is: 33.476190476190474
The average fuel efficiency of Toyota is: 40.0
The Percentage increase between both the models is: 19.487908961593178 %