In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('grocerystore.csv')
print(df.head())

   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0     1.0  CA-2016-152156   11-8-2016  11-11-2016    Second Class    CG-12520
1     2.0  CA-2016-152156   11-8-2016  11-11-2016    Second Class    CG-12520
2     3.0  CA-2016-138688   6-12-2016   6-16-2016    Second Class    DV-13045
3     4.0  US-2015-108966  10-11-2015  10-18-2015  Standard Class    SO-20335
4     5.0  US-2015-108966  10-11-2015  10-18-2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Region  \
0      Claire Gute   Consumer  United States        Henderson  ...  South
1      Claire Gute   Consumer  United States        Henderson  ...  South
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...   West
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600      2.0
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400      3.0
2  Self-Adhesive Address Labels for Typewriters b...   14.6200      2.0
3      Bretford CR4500 Series Slim Rectangular Table  957.5775      5.0
4                     Eldon Fold 'N Roll Cart System   22.3680      2.0

   Discount    Profit   Tax
0      0.00   41.9136  0.50
1      0.00  219.5820  1.20
2      0.00    6.8714  2.25
3      0.45 -383.0310  0.90
4      0.20    2.5164  2.00

[5 rows x 22 columns]

In [ ]:
total=df['Sales'].sum()
print("The total Customer Sales is:",total)

The total Customer Sales is: 156173.36210000003

In [ ]:
discount = (df['Sales'] *( df['Discount']/100))
a_d=df['Sales']-discount
print(a_d)

0       261.960000
1       731.940000
2        14.620000
3       953.268401
4        22.323264
           ...
9989           NaN
9990           NaN
9991           NaN
9992           NaN
9993           NaN
Length: 9994, dtype: float64

In [ ]:
tax=a_d*(df['Tax']/100)
print(tax)

0       1.309800
1       8.783280
2       0.328950
3       8.579416
4       0.446465
          ...
9989         NaN
9990         NaN
9991         NaN
9992         NaN
9993         NaN
Length: 9994, dtype: float64

In [ ]:
Final=a_d+tax
print("The Final Amount after deduced with Discount and Tax is:",Final)

The Final Amount after deduced with Discount and Tax is: 0       263.269800
1       740.723280
2        14.948950
3       961.847817
4        22.769729
           ...
9989           NaN
9990           NaN
9991           NaN
9992           NaN
9993           NaN
Length: 9994, dtype: float64