In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('order.csv')
print(df.head())

   Id         Full Name                     Address  age  gender  Latitude  \
0  10     Adam Martinez         China, Beijing Shi    30  Female      40.0
1  20       Adam Miller  193, Bannerghatta Main Rd    68  Female      13.0
2  30       Adam Walker            Behrenstraße 42    70  Female      53.0
3  40       Adan Lamica            Behrenstraße 42    72  Female      53.0
4  50  Adeline Iannotti  Floreasca Park 43 Soseaua    16  Female      44.0

   Longitude                   Email Adress              Order Order Status  \
0      116.0     adam.martinez@internalmail  14 September 2021    CANCELLED
1       78.0       adam.miller@internalmail  18 September 2021     COMPLETE
2       13.0       adam.walker@internalmail  22 September 2021     COMPLETE
3       13.0       adan.lamica@internalmail  26 September 2021     COMPLETE
4       26.0  adeline.iannotti@internalmail  30 September 2021     COMPLETE

   Order Total               Items Total sales  Order Count  Rating  \
0          209   Boy's Coat (Blue)          80            1       8
1           54   Boy's Coat (Blue)      10,816           90       4
2           43   Boy's Coat (Blue)         319            3       8
3          305  Boy's Coat (Brown)         137            3       5
4          153  Boy's Coat (Brown)       3,936           64       6

   Average Rating           Delivery
0               6  18 September 2021
1               6  22 September 2021
2               6  26 September 2021
3               6  30 September 2021
4               6    04 October 2021

In [ ]:
orders_per_customer = df.groupby('Id').size()
print(orders_per_customer)

Id
10     1
20     1
30     1
40     1
50     1
60     1
70     1
80     1
90     1
100    1
110    1
120    1
130    1
140    1
150    1
160    1
170    1
180    1
190    1
200    1
210    1
220    1
230    1
240    1
250    1
260    1
270    1
280    1
290    1
300    1
310    1
320    1
330    1
340    1
350    1
360    1
370    1
380    1
390    1
400    1
410    1
420    1
430    1
440    1
450    1
460    1
470    1
480    1
490    1
500    1
dtype: int64

In [ ]:
orders_per_product = df.groupby('Items').size()
print(orders_per_product)

Items
Boy's Coat (Blue)         3
Boy's Coat (Brown)        3
Boy's Hoodie (Grey)       3
Boy's Jeans (Black)       3
Boy's Jeans (Blue)        2
Boy's Pyjamas (Grey)      3
Boy's Shirt (Black)       3
Boy's Shorts (Blue)       2
Boy's Socks (Black)       3
Boy's Socks (Grey)        3
Boy's Socks (White)       2
Boy's Sweater (Green)     2
Boy's Sweater (Red)       3
Boy's Trousers (Black)    3
Boy's Trousers (Blue)     1
Boy's Trousers (White)    2
Girl's Coat (Blue)        2
Girl's Dress (Red)        3
Girl's Hoodie (White)     2
Girl's Jeans (Grey)       2
dtype: int64

In [ ]:
df['Order'] = pd.to_datetime(df['Order'])

earliest_date = df['Order'].min()
latest_date = df['Order'].max()

print("Earliest Order Date:", earliest_date)
print("Latest Order Date:", latest_date)

Earliest Order Date: 2021-09-14 00:00:00
Latest Order Date: 2022-03-29 00:00:00