In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('house.csv')
print(df.head())

   S.no  beds  baths  size  zip_code    price   Location
0     0     3    2.5  2590     98144   795000     Mumbai
1     1     4    2.0  2240     98106   915000      Delhi
2     2     4    3.0  2040     98107   950000  Bengaluru
3     3     4    3.0  3800     98199  1950000    Chennai
4     4     2    2.0  1042     98102   950000  Hyderabad

In [ ]:
loc=df.groupby('Location')['price'].mean()
print(loc)

Location
Adilabad          521500.0
Agra             1182550.0
Ahmedabad        1358200.0
Ajmer             655000.0
Akola            1008750.0
                   ...
Villupuram        671000.0
Virar            1597500.0
Visakhapatnam    1393750.0
Warangal          694625.0
Yamunanagar      1092750.0
Name: price, Length: 241, dtype: float64

In [ ]:
loc=df.groupby('Location')['price'].mean()
print(loc)

In [ ]:
a=df[df['beds'] > 4]
print("Properties with more than 4 beds are:",a)

Properties with more than 4 beds are:      S.no  beds  baths  size  zip_code    price   Location
7       7     5    3.5  4510     98105  3150000  Ahmedabad
14     14     5    1.5  2560     98199  1330000      Salem
24     24     5    3.5  3200     98133  1275000      Karur
37     37     5    5.0  2510     98133  1000000   Tirupati
41     41     5    4.0  2920     98133   948000   Warangal
..    ...   ...    ...   ...       ...      ...        ...
941   941     5    3.5  3340     98112  2500000      Morbi
953   953     5    4.0  2754     98126   956000      Thane
958   958     5    3.5  2966     98126  1263500   Bhiwandi
964   964     5    3.5  5090     98102  4325000     Panvel
998   998     6    5.0  2667     98122   900000  Cuddalore

[76 rows x 7 columns]

In [ ]:
top_5_areas = df['size'].nlargest(5)
print(top_5_areas)

232    11010
74      8660
805     5770
518     5690
548     5200
Name: size, dtype: int64