In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

In [7]:
df=pd.read_csv('bp.csv')
print(df.head())

   Subject_ID  Site_ID  Age  Gender Enrollment_Date Treatment_Group  \
0           1       49   54    Male          1/1/22          Drug A
1           2       37   44    Male          1/2/22         Placebo
2           3        1   58    Male          1/3/22          Drug A
3           4       25   48    Male          1/4/22          Drug B
4           5       10   57  Female          1/5/22          Drug A

   Adverse_Events  Dropout  Systolic_BP  Diastolic_BP  Cholesterol_Level
0               0        0          117            74                229
1               1        0          111            57                173
2               0        1          122            89                220
3               0        0          122            85                175
4               2        0          105            90                185

In [12]:
df['BP_Difference']=df['Systolic_BP']-df['Diastolic_BP']
print(df.head())

   Subject_ID  Site_ID  Age  Gender Enrollment_Date Treatment_Group  \
0           1       49   54    Male          1/1/22          Drug A
1           2       37   44    Male          1/2/22         Placebo
2           3        1   58    Male          1/3/22          Drug A
3           4       25   48    Male          1/4/22          Drug B
4           5       10   57  Female          1/5/22          Drug A

   Adverse_Events  Dropout  Systolic_BP  Diastolic_BP  Cholesterol_Level  \
0               0        0          117            74                229
1               1        0          111            57                173
2               0        1          122            89                220
3               0        0          122            85                175
4               2        0          105            90                185

   BP_Difference
0             43
1             54
2             33
3             37
4             15

In [13]:
print("Mean Blood Pressure is:",df['BP_Difference'].mean())

Mean Blood Pressure is: 39.354

In [18]:
group=df.groupby('Treatment_Group')
print(group['BP_Difference'].value_counts())

Treatment_Group  BP_Difference
Drug A           30               13
                 42               13
                 48               11
                 33               10
                 36                9
                                  ..
Placebo          92                1
                 97                1
                 107               1
                 116               1
                 129               1
Name: count, Length: 237, dtype: int64

In [19]:
dev=df['BP_Difference'].std()
print(dev)

18.95637169998594

In [23]:
n=df['BP_Difference'].count()
dr=df[df['Treatment_Group']=="Drug A"].count()
pb=df[df['Treatment_Group']=="Placebo"].count()
print(n)
print(dr)
print(pb)

1000
Subject_ID           311
Site_ID              311
Age                  311
Gender               311
Enrollment_Date      311
Treatment_Group      311
Adverse_Events       311
Dropout              311
Systolic_BP          311
Diastolic_BP         311
Cholesterol_Level    311
BP_Difference        311
dtype: int64
Subject_ID           363
Site_ID              363
Age                  363
Gender               363
Enrollment_Date      363
Treatment_Group      363
Adverse_Events       363
Dropout              363
Systolic_BP          363
Diastolic_BP         363
Cholesterol_Level    363
BP_Difference        363
dtype: int64

Standard Error

In [25]:
SE=dev/np.sqrt(n)
print(SE)

0.5994531074471362

In [28]:
t_critical=stats.t.ppf(q=0.975,df=n-1)
print(t_critical)

1.9623414611334487

Margin of Error

In [29]:
Mar=t_critical*SE
print(Mar)

1.1763316867487994

Confidence Interval

In [33]:
Mean=df['BP_Difference'].mean()
Interval=(Mean-Mar,Mean+Mar)
print(Interval)

(np.float64(38.1776683132512), np.float64(40.530331686748795))

Confidence Interval of Drug A

In [40]:
drug = df[df['Treatment_Group'] == 'Drug A']

mean_d = drug['BP_Difference'].mean()
std_d  = drug['BP_Difference'].std(ddof=1)
n_d    = drug['BP_Difference'].count()

SE_d = std_d / np.sqrt(n_d)
ME_d = 1.96 * SE_d

CI_drug = (mean_d - ME_d, mean_d + ME_d)
print("Drug A CI:", CI_drug)

Drug A CI: (np.float64(37.65134062697049), np.float64(41.78917384248289))

Confidence Interval of Placebo

In [42]:
drug = df[df['Treatment_Group'] == 'Placebo']

mean_d = drug['BP_Difference'].mean()
std_d  = drug['BP_Difference'].std(ddof=1)
n_d    = drug['BP_Difference'].count()

SE_d = std_d / np.sqrt(n_d)
ME_d = 1.96 * SE_d

CI_drug = (mean_d - ME_d, mean_d + ME_d)
print("Drug A CI:", CI_drug)

Drug A CI: (np.float64(37.29722778167575), np.float64(41.49065100620303))